@import './utils.scss';

.container {
  margin: 0 auto;

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    max-width: 1220px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include desktop {
    max-width: 1220px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.container > p {
  margin-top: 10px;
  margin-bottom: 14px;
}

.select-league {
  color: $black;
  background-color: transparent;
  border: none;
  outline: none;
  height: 36px;
  width: 70px;
  appearance: none;
}

.select-season {
  padding-left: 8px;
  color: $black;
  border: none;
  background-color: transparent;
  outline: none;
  appearance: none;
  width: 126px;
  height: 32px;
}

.select-season-wrap {
  display: flex;
  flex-direction: row;
  width: 150px;
  border: 1px solid $gray-02;
  border-radius: 4px;
}

.select-season-icon {
  margin-top: 6px;
}

.select-league-wrap {
  display: flex;
}

.select-league-icon {
  margin-top: 15px;
}

ul {
  display: flex;
}
