@import './utils.scss';

.rosters-container {
  padding-top: 24px;
}

// .team-select {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: white;
//   margin: 0 auto;
//   width: 360px;
//   height: 72px;
//   line-height: 52px;
//   appearance: none;
//   border: 1px solid $gray-02;
//   border-radius: 4px;
//   outline: none;
//   cursor: pointer;
// }

.select_wrap {
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  width: 360px;
  height: 72px;
  line-height: 52px;
  border: 1px solid $gray-02;
  border-radius: 4px;
  user-select: none;
  color: $black;
}

.select_wrap .default_option {
  background: #fff;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

// .select_wrap .default_option li {
//   padding: 10px 20px;
// }

// .select_wrap .default_option:before {
//   content: '';
//   top: 36px;
//   width: 6px;
//   height: 6px;
//   border: 2px solid;
//   border-color: transparent transparent $gray-03 $gray-03;
//   transform: rotate(-45deg);
// }

.select_wrap .select_ul {
  z-index: 1;
  margin-top: 57px;
  width: 360px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid $gray-02;
  display: none;
}

.select_wrap .select_ul li {
  width: 360px;
  height: 72px;
  border-bottom: 1px solid $gray-02;
  cursor: pointer;
}

.select_wrap .select_ul li:first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.select_wrap .select_ul li:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select_wrap .select_ul li:hover {
  background: $gray-02;
}

.select_wrap .option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_wrap .option img {
  margin-top: 8px;
  width: 32px;
}

.select_wrap.active .select_ul {
  display: block;
}

.option {
  height: 20px;
}

.option > div {
  height: 14px;
}